<div class="container-fluid p-5 flex-wrap divPosittion"> 
    <h2>Get the Fresh Cart App</h2>
    <p>we will send you a link ,open it on your phone to download the app .</p>

    <div class="w-100 d-flex align-items-center justify-content-center m-auto flex-wrap">

        <input class="form-control d-inline mt-2 m-auto col-md-9" placeholder="write your email" type="email">
        <button class="btn btn-outline-success mt-2 ">Share app link</button>

    </div>

    <hr>

    <div class="col-md-10 d-flex align-items-center d-flex m-auto flex-wrap">
        <div class="col-md-3 text-center">
            <h5>payment partners</h5>
        </div>
        <div class="col-md-3 text-center">
            <img src="../../assets/images/payments.png" class="w-75" alt="" srcset="">
        </div>
        <div class="col-md-3 text-center">
            <h5>Get deliveries to FreshCarts</h5>

        </div>
        <div class="col-md-3 text-center">
            <img src="../../assets/images/app.png" class="w-75" alt="" srcset="">

        </div>

    </div>

</div>