<div class="row m-0 p-0 d-flex m-auto">

        <div class=" col-md-8">
                <owl-carousel-o [options]="customOptions">
<!-- 342 * 227 -->
                        <ng-template class="w-100" carouselSlide>
                                <img  class=""
                                        src="././assets/images/slider-image-1.jpeg"
                                        alt="" srcset="">
                        </ng-template>
                        <ng-template class="w-100" carouselSlide><img  class=""
                                        src="././assets/images/slider-image-2.jpeg"
                                        alt="" srcset=""></ng-template>
                        <ng-template class="w-100" carouselSlide><img  class=""
                                        src="././assets/images/slider-image-3.jpeg"
                                        alt="" srcset=""></ng-template>

                </owl-carousel-o>
        </div>
        <!-- <div class="col-md-4">
            <div class="image ">
              <img src="../../assets/images/grocery-banner.png" alt="" srcset="">
            </div>
            <div class="image ">
                <img src="../../assets/images/grocery-banner-2.jpeg" alt="" srcset="">
          

            </div>

        </div> -->


        <!-- <div class=" col-md-12 p-0 m-0">
                <h4>Shop popular categories</h4>

                <owl-carousel-o [options]="customOptions2">

                        <ng-template *ngFor="let category of categories" carouselSlide><img class="category-img"
                                        height="200" [src]="category.image" alt="" srcset="">

                                <h6 class="m-2 h6">{{category.name}}</h6>
                        </ng-template>

                </owl-carousel-o>
        </div> -->

</div>